@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.responsive-container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  text-align: left;
  padding: 2em 1em;
}

.form-container{
  padding: 3em 1em;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 3px lightgray;
  text-align: left;
  width: 100%;
}

.results-container{
  padding: 0 1em;
}

.progress-container{
  opacity: 0.8;
  transition: 0.2s ease;
}
.progress-container:hover{
  opacity: 1;
  transform: scale(1.1);
}


.download-button{
  box-shadow: -0.5px 0.5px 4px 1px gray;
}

.wiggle{
  animation: wiggle 2.5s infinite;
  transition: 2s ease;
}

.download-button:hover{
  transform: scale(1.1);
  animation: none;
}


@keyframes wiggle {
  0% { transform: rotate(0deg); }
  79% { transform: rotate(0deg); }
 80% { transform: scale(1.1) rotate(2deg); }
 85% { transform: scale(1.1) rotate(-2deg); }
 90% { transform: scale(1.1) rotate(2deg); }
 95% { transform: scale(1.1) rotate(-2deg); }
100% { transform: rotate(0deg); }
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
